@font-face {
    font-family: 'GatteModernMedium';
    src: url('../Fontes/GatteModernMedium-Wprd9.otf') format('opentype');
}

@font-face {
    font-family: 'GatteModernLight';
    src: url('../Fontes/GatteModernLight-e94GO.otf') format('opentype');
}

body {
    background-color: #841239;
    color: #f5f5ef;
    font-family: 'GatteModernLight';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
    object-fit: cover;
    opacity: 0.5; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}   

.circular-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 80px;
    margin-bottom: 10px;
}

.contatos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 80px;
}

.contatos img {
    width: 53px;
    height: 30px; 
}

h1 {
    color: #f5f5ef;
    font-family: 'GatteModernMedium';
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

p {
    color: #f5f5ef;
    text-align: justify;
}