@font-face {
    font-family: 'GatteModernMedium';
    src: url('../Fontes/GatteModern/GatteModernMedium-Wprd9.otf') format('opentype');
}

@font-face {
    font-family: 'GatteModernLight';
    src: url('../Fontes/GatteModern/GatteModernLight-e94GO.otf') format('opentype');
}

@font-face {
    font-family: 'DomineBold';
    src: url(../Fontes/Domine/DomineBold-pBoy.ttf) format('truetype');
}

@font-face {
    font-family: 'Domine';
    src: url(../Fontes/Domine/Domine-xwvj.ttf) format('truetype');
}

@font-face {
    font-family: 'Habillta';
    src: url(../Fontes/Habillta/HabilltaDemo-8O7jM.ttf) format('truetype');
}

@font-face {
    font-family: 'Paagluk';
    src: url('../Fontes/Paagluk/Paagluk-R9dpE.otf') format('opentype');
}

body {
    background-color: #b61243;
    color: #f5f5ef;
    font-family: 'GatteModernLight';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; 
    object-fit: cover;
    opacity: 0.6; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    /* margin: 0 auto; */
    /* position: relative; */
    /* z-index: 1; */
}   

.circular-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 80px;
    /* margin-bottom: 10px; */
}

.contatos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 80px;
}

.contatos img {
    width: 53px;
    height: 30px; 
}

h1 {
    color: #f5f5ef;
    font-family: 'GatteModernMedium';
    text-align: center;
    margin-bottom: 30px;
    /* letter-spacing: 1px; */
}

p {
    font-family: 'Domine';
    color: #f5f5ef;
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
}